  <section class="content">    
  
   <span class="bottom_bar_page_close glyphicon glyphicon-remove" ng-click="closeBottom();">Close</span>
     
    <div>
        <div>
          <h1>TR<span class="color1">4</span>DE ST<span class="color2">4</span>R/About Us</h1>
            <p><b>Vision:</b> Give a worldwide accessibility to people who desire to interact with the finance world</p>
            <p><b>Mission:</b> Connect people together to build a new world, accessible, affordable and fun! Innovate the traders world.</p>

            <p><b>Values:</b> Honesty (we created this concept to benefits people where trading is affordable now!), professionalism (we provide a professional platform where simplicity is the key), Accuracy (real time quote), Courtesy (we assist and answer our client with respect and we please them by doing the best of us every time)
            </p>
           
          <h3>About TR<span class="color1">4</span>DE ST<span class="color2">4</span>R</h3>
           
            <div id="innerText">
            <p>TR<span class="color1">4</span>DEST<span class="color2">4</span>R.<span class="color2">com</span> is a professional, safe place to test your investing skills at no cost with people from all around the world. We realize there is no place you can test your investing skills over the Internet, so we decided to create one: TR<span class="color1">4</span>DEST<span class="color2">4</span>R. It is the only place where you’ll be able to compete with traders in real time! We’ve put together a dedicated and professional service team, and the best online interactive platform for you to express your trading abilities.</p>

            <p>All of the games on TR<span class="color1">4</span>DEST<span class="color2">4</span>R.<span class="color2">com</span> give you the option: either you invest real money or TR<span class="color1">4</span>DEST<span class="color2">4</span>R dollars*. There is absolutely no charge to participate in the TR<span class="color1">4</span>DEST<span class="color2">4</span>R dollars games. This provides an ideal environment for you to handle the platform or practice investing a familiar one.</p>

            <p>If you have any questions about TR<span class="color1">4</span>DEST<span class="color2">4</span>R that aren't answered elsewhere on the website, please send an e-mail message to <a href="https://www.facebook.com/pages/TR4DE-ST4R/305990889536659">support@TR4DEST4R.com</a></p>

            <p>Registration is not required to view any of our competitions, so why not check it out?</p>
            </div>
            
           
          <h3>From the whole TR<span class="color1">4</span>DEST<span class="color2">4</span>R team, good luck, and enjoy the competition!</h3>
          
          <br />
           
            <p>TR<span class="color1">4</span>DEST<span class="color2">4</span>R Inc. is a registered legal business located in the Isle of Man, in the British Isles. We abide by the laws and regulations where we do business.</p>
            <p>TR<span class="color1">4</span>DEST<span class="color2">4</span>R Inc. owned and operated by EAV corp.</p>
            
        </div>
    </div><!-- /.row -->    
</section><!-- /.content -->