<section class="content">
   
    <span class="bottom_bar_page_close glyphicon glyphicon-remove" ng-click="closeBottom();">Close</span>
    
    <div>
        <div>
            <h1>TR<span class="color1">4</span>DE ST<span class="color2">4</span>R/Contact Us</h1>
            <p>TR<span class="color1">4</span>DEST<span class="color2">4</span>R Inc.</p>
            
            <div id="address"> 
                <p>Montreal, Quebec</p>
                <p>Canada</p>
                <p>Tel: +1 (514) xxx-xxxx</p>
            </div>
            
            <br />
            
            <p><b>Address: </b>4529 clark suite 308</p>
            
            <br />
            
            <p><b>Email:</b> <a href="https://www.facebook.com/pages/TR4DE-ST4R/305990889536659">support@TR4DEST4R.com</a></p>
            
            <br />
            
            
            <p><b>Question?: </b> Visit our <b>FAQ</b>’s section</p>
</p>
            
        </div>
    </div><!-- /.row -->
</section><!-- /.content -->


