<section class="content">
   
   <span class="bottom_bar_page_close glyphicon glyphicon-remove" ng-click="closeBottom();">Close</span>
   
    <div>
        <div>
            <h1>TR<span class="color1">4</span>DE ST<span class="color2">4</span>R/FAQ</h1>
            
            <p><b>How do I open an account?</b></p>
            <p>You just have to go to the home page and click on open an account and follow the instructions</p>
            <br />
            
            <p><b>How do I make a deposit?</b></p>
            <p>You need a cash account (activated upon clicking on the link received by email during the activation process). You have several options to make a deposit: credit card, money order, paypal, bank debit, text message, and phone.</p>
            <br />

            <p><b>How do I cash out?</b></p>
            <p>The same way as you have made a deposit, some fees may apply, please refer to the information section</p>
            <br />

            <p><b>Can I hold different position at the same time during a game?</b></p> 
            <p>Yes, you can hold as much position as you desire, remember you are competing to perform the best return.</p>
            <br />

            <p><b>Can I play on more than one table at the same time?</b></p> 
            <p>Yes, sure you can play by simply entering in a new competition and a new window will pop up</p>
            <br />

            <p><b>What happened if I get disconnected during a competition?</b></p> 
            <p>Your position will be hold and will not change during your absence, if the competition ends your positions will be closed and your return calculated</p>
            <br />
            
            <p><b>How do I get the 30% discount on processing fees when referring 10 friends?</b></p> 
            <p>When your friends subscribe they would need to enter your assigned referral code number located …</p>
            <br />
            
           <p><b>Is TR<span class="color1">4</span>DEST<span class="color2">4</span>R Free?</b></p>
           <p>Yes, it is. You have the availability to trade real money if you decide to, but at first you are given TR4DEST4R Chips for you to trade. </p>
            <br />

            
        </div>
    </div><!-- /.row -->
</section><!-- /.content -->


