 <!--<link rel="stylesheet" type="text/css" href="../assets/styles/normalize.css" />
<link rel="stylesheet" type="text/css" href="../assets/styles/demo.css" />
<link rel="stylesheet" type="text/css" href="../assets/styles/component.css" />-->
 <link rel="stylesheet" href="/assets/styles/bootstrap.min.css">
 <!--
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<style type="text/css">
    .navbar-center {
    width: 100%;
    text-align: center;
    > li {
      float: none;
      display: inline-block;
    }
  }

</style>

<div class="panel panel-default col-xs-6" style="background-color:#f2f2f2" ng-controller="LineChartCtrl">


<nvd3 options="options" data="data"></nvd3>


</div>

<div class="panel panel-default col-xs-6" style="background-color:#f2f2f2" ng-controller="multiBarHorizontalChartCtrl">


<nvd3 options="options" data="data"></nvd3>


</div>


<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
<script src="../assets/scripts/jquery.stickyheader.js"></script>